<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285036461121-4cpdpobd0vdu6ql7u3dnlc5q4prqedcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285036461121-4cpdpobd0vdu6ql7u3dnlc5q4prqedcl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285036461121-ko7go1vkkfrrmja5umt7snkh4k6bal1j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrN_CGwrOwtLvmRo5DWijm9GXeTtwqsFg</string>
	<key>GCM_SENDER_ID</key>
	<string>285036461121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.betaBooks.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>betabooks-b8ec9</string>
	<key>STORAGE_BUCKET</key>
	<string>betabooks-b8ec9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285036461121:ios:dfb6a8422d0efb69b91ac0</string>
</dict>
</plist>